
p{
color: #000000
}

html, body { 
	height:100%;
	width:99%;
}
  
#title {
	color: DarkCyan;
	padding: 10px;
}

.header {
	margin-top: 50px;
	margin-left: 20px;
	font: 20px Palatino;
	width: 80%;
}

hr {
margin-left: 50px;
height: 10px;
border-width: 1px;
color: #5dbcd2;
background-color: #5dbcd2;
}

h4 { 
    display: block;
    margin-left: 50px;
    font-weight: bold;
    font: 14px Palatino;
}

h4:hover {
    color: #5dbcd2;
}

body {
   font: 16px Palatino;
   background-color: white;
  }
  
.content {
	margin-top: 60px;
	margin-left: 50px;
	font: 16px Palatino;
	width: 80%;
}

.link {
color: #000000; 
text-decoration: none;
}

.link:hover { 
	color: #5dbcd2; 
	}
